*{
    padding: 0;
    margin: 0;
    font-family:verdana;
    background-color: rgb(81, 81, 253);
    /* display: flex; */

}
body{
    display: flex;
}
.card{
    background-color: #fefa77;
    padding: 100px;
    border-radius: 9px;
    margin-top: 250px;
    margin-left: 520px;
    font-size: 20px;
    font-weight: 700;
    color: rgb(255, 147, 147);
    font-style: italic;

}