*{
    padding:0;
    margin:0;
    font-family: verdana;
}
.container-one{
    width: 600px;
    height: 600px;
    background-color: blue;
    background-color: blue;
    border-radius: 50%;
    padding: 38px;
}
.container-two{
    width: 300px;
    height: 300px;
    background-color: red;
    border-radius: 50%;
    padding: 149px;
}
.container-three{
    width: 100px;
    height: 100px;
    background-color: black;
    border-radius: 50%;
    padding: 100px;
}