*{
    padding: 0;
    margin: 0;
}
.container{
    display: grid;
    grid-template-rows: repeat(6,100px);
    grid-template-columns: repeat(auto-fill, 100px);
    gap: 5px;
}
.item{
    display: flex;
    align-items: center;
    justify-content: center;
}
.c1{
    background-color: aqua;
}
.c2{
    background-color: red;
}
.c3{
    background-color: black;
    /* grid-row: 6/9; *****grid-row: current position/ ( current position + no. row you want ) ** */
    /* grid-column: 5; */
    /* grid-area: grid-row begin/ grid-column begin/grid-row ends / grid-column ends; */
}
.c4{
    background-color: yellow ;
}
.c5{
    background-color: rgb(0, 255, 76) ;
}
.c6{
    background-color: rgb(242, 0, 255) ;
}
.c7{
    background-color: rgb(148, 193, 26) ;
}
.c8{
    background-color: rgb(255, 94, 0) ;
}
.c9{
    background-color: rgb(255, 0, 179) ;
}