*{
    padding: 0;
    margin: 0;
}
body{
    /* background: url(/WEBSERVER_PHOTO/Spider_man.jpg) ; */
    background-color: black;
}
.container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width: 520px;
    height: 320px;
    background-color: rgba(255, 255, 255,0.09);
    /* background-image: linear-gradient(#fff, red,blue,green); */
    border-radius: 20px;
    backdrop-filter: blur(20px);
    border: 1.9px solid rgba(225, 255, 255, 0.09);
    box-shadow: 52px 48px 47px -12px #fff;
}